.searchResults {
  display: flex;
  flex-direction: column;
}

.foodItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}

.foodInfo {
  cursor: pointer;
}

.foodInfo > h1 {
  font-size: 1em;
  font-weight: medium;
}

.foodInfo > h2 {
  font-size: 0.9em;
  font-weight: normal;
}

.addImage {
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.loadingFoodItemsMessage {
  margin-top: 10px;
  text-align: center;
}

/* Chrome, Safari and Opera */
.invisibleScrollbar:not(:hover)::-webkit-scrollbar {
  display: none;
}

.invisibleScrollbar:not(:hover) {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Firefox */
.invisibleScrollbar {
  scrollbar-width: thin; /* Removes button from track */
  scrollbar-color: darkgray lightgray;
}

/* Chromium browsers only below */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  margin-top: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7878;
}
