.addFoodPopup {
  width: 50vw;
  height: 30vh;
  border-radius: 5px;
  border: solid;
  padding: 40px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addFoodPopup > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.weightInput {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weightInput > input {
  width: 5em;
  font-size: larger;
  text-align: right;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-bottom: 2px solid black;
  margin: 0 1px 0 0;
  padding-bottom: 1px;
}

/* unit */
.weightInput > div {
  font-size: larger;
}

.addFoodPopup button {
  font-size: large;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  margin: 15px 5px 40px 5px;
  cursor: pointer;
}

.addFoodPopup button:hover {
  background-color: #ebebeb;
}

.title {
  margin-top: 0;
  font-size: 2em;
}

.addImage {
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.enter {
  transition: opacity 300ms ease-out, transform 200ms ease-out;
}

.enterFrom {
  opacity: 0;
}

.enterTo {
  opacity: 100;
}

.leave {
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.leaveFrom {
  opacity: 100;
}

.leaveTo {
  opacity: 0;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
