.wrapper {
  display: flex;
  width: auto;
  min-height: 100vh;
}

.logAndDateCard {
  background-color: #2275c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
  flex-grow: 2;
}

.searchAndLogoCard {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: inherit;
  flex-grow: 1;
}

.search {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
}

.tableWrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  min-height: 53.7vh;
}

/* Global styles to target PrimeReact classes */

/* Spacing between logo and title */
:global(.p-tabview-title) {
  margin-left: 5px;
}

/* Highlight selected tab */
:global(.p-tabview-selected) {
  border-bottom: 2px solid #4e8dc9;
}

/* Align tab bar */
:global(.p-tabview-nav) {
  display: flex;
  width: 100%;
  margin-bottom: 1vh;
}

/* Make tabs fill screen width, and center them */
:global(.p-tabview-nav-link) {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Makes direct children grow and take available space */
:global(.p-tabview-nav > *) {
  flex: 1;
}

@media only screen and (max-width: 1170px) {
  .wrapper {
    flex-direction: column;
  }

  .logAndDateCard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 100vh;
  }

  .searchAndLogoCard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    height: auto;
  }

  .titleAndLogoContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 775px) {
  .tableWrapper {
    width: 100%;
  }

  .logAndDateCard {
    background-color: white;
  }
}
