.wrapper {
  display: flex;
  width: auto;
  min-height: 100vh;
}

.logAndDateCard {
  background-color: #2275c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
  flex-grow: 2;
}

.searchAndLogoCard {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: inherit;
  flex-grow: 1;
}

.search {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
}

.tableWrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  min-height: 53.7vh;
}

@media only screen and (max-width: 1170px) {
  .wrapper {
    flex-direction: column;
  }

  .logAndDateCard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }

  .searchAndLogoCard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    height: auto;
  }

  .titleAndLogoContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 775px) {
  .tableWrapper {
    width: 100%;
  }

  .logAndDateCard {
    background-color: white;
  }
}
