.deleteButton {
  background-color: red;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: auto;
}

.deleteIcon {
  color: #FEFDFE;
  height: 16px;
  width: 16px;
  margin-top: 3px;
}

.placeHolder {
  padding: 20px;
}