.deleteButton {
  background-color: red;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  background-color: #2275c3;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteIcon {
  color: #FEFDFE;
  height: 15px;
  width: 15px;
}

.editIcon {
  color: #FEFDFE;
  height: 15px;
  width: 15px;
}

