.filterContent {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 32.5vw;
  height: 13em;
  border: solid;
  left: 0.5vw;
  top: calc(121px + 3vh);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown {
  width: 100%;
  border-width: 2px;
  border-color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.labelCheckboxContainer {
  margin-bottom: 5px;
}

.checkbox {
  margin-right: 5px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 1170px) {
  .filterContent {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 50vw;
    top: calc(4vh + 153px);
  }
}

@media only screen and (max-width: 750px) {
  .filterContent {
    top: calc(7vh + 154px);
  }
}

@media only screen and (max-width: 480px) {
  .filterContent {
    min-width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .filterContent {
    top: calc(7vh + 179px);
  }
}
